$width: 30px;
$height: 52px;
$border: 2px;

.scroll-block {
	position: absolute;
	bottom: 60px;
	left: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transform: translateX(-50%);
	.mouse {
		position: relative;
		width: $width - 8px;
		height: $height - 12px;
		background: #4e5559 linear-gradient(transparent 0%, transparent 50%, $white 50%, $white 100%);
		background-size: 100% 200%;
		border-radius: 100px;
		animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
		@include media-breakpoint-up(lg) {
			width: $width;
			height: $height;
		}
		&:before,
		&:after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			margin: auto;
		}
		&:before {
			width: $width - ($border * 2) - 8px;
			height: $height - ($border * 2) - 12px;
			background-color: #30333a;
			border-radius: 100px;
			@include media-breakpoint-up(lg) {
				width: $width - ($border * 2);
				height: $height - ($border * 2);
			}
		}
		&:after {
			background-color: $white;
			width: 4px;
			height: 4px;
			border-radius: 100%;
			animation: trackBallSlide 5s linear infinite;
			@include media-breakpoint-up(lg) {
				width: 5px;
				height: 5px;
			}
		}
	}
	.text {
		margin-top: 20px;
		color: $white;
		letter-spacing: 0.5em;
		animation: colorText 5s ease-out infinite, nudgeText 5s ease-out infinite;
	}
}

/* Animations */
@keyframes colorSlide {
	0% {
		background-position: 0% 100%;
	}
	20% {
		background-position: 0% 0%;
	}
	21% {
		background-color: #4e5559;
	}
	29.99% {
		background-color: #ffffff;
		background-position: 0% 0%;
	}
	30% {
		background-color: #4e5559;
		background-position: 0% 100%;
	}
	50% {
		background-position: 0% 0%;
	}
	51% {
		background-color: #4e5559;
	}
	59% {
		background-color: #ffffff;
		background-position: 0% 0%;
	}
	60% {
		background-color: #4e5559;
		background-position: 0% 100%;
	}
	80% {
		background-position: 0% 0%;
	}
	81% {
		background-color: #4e5559;
	}
	90%,
	100% {
		background-color: #ffffff;
	}
}

@keyframes colorText {
	21% {
		color: #4e5559;
	}
	30% {
		color: #ffffff;
	}
	51% {
		color: #4e5559;
	}
	60% {
		color: #ffffff;
	}
	81% {
		color: #4e5559;
	}
	90% {
		color: #ffffff;
	}
}

@keyframes trackBallSlide {
	0% {
		opacity: 1;
		transform: scale(1) translateY(-300%);
	}
	6% {
		opacity: 1;
		transform: scale(0.9) translateY(100%);
	}
	14% {
		opacity: 0;
		transform: scale(0.4) translateY(800%);
	}
	15%,
	19% {
		opacity: 0;
		transform: scale(0.4) translateY(-300%);
	}
	28%,
	29.99% {
		opacity: 1;
		transform: scale(1) translateY(-300%);
	}
	30% {
		opacity: 1;
		transform: scale(1) translateY(-300%);
	}
	36% {
		opacity: 1;
		transform: scale(0.9) translateY(100%);
	}
	44% {
		opacity: 0;
		transform: scale(0.4) translateY(800%);
	}
	45%,
	49% {
		opacity: 0;
		transform: scale(0.4) translateY(-300%);
	}
	58%,
	59.99% {
		opacity: 1;
		transform: scale(1) translateY(-300%);
	}
	60% {
		opacity: 1;
		transform: scale(0.9) translateY(-300%);
	}
	66% {
		opacity: 1;
		transform: scale(0.9) translateY(100%);
	}
	74% {
		opacity: 0;
		transform: scale(0.4) translateY(800%);
	}
	75%,
	79% {
		opacity: 0;
		transform: scale(0.4) translateY(-300%);
	}
	88%,
	100% {
		opacity: 1;
		transform: scale(1) translateY(-300%);
	}
}
@keyframes nudgeMouse {
	0% {
		transform: translateY(0);
	}
	20% {
		transform: translateY(8px);
	}
	30% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(8px);
	}
	60% {
		transform: translateY(0);
	}
	80% {
		transform: translateY(8px);
	}
	90% {
		transform: translateY(0);
	}
}
@keyframes nudgeText {
	0% {
		transform: translateY(0);
	}
	20% {
		transform: translateY(2px);
	}
	30% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(2px);
	}
	60% {
		transform: translateY(0);
	}
	80% {
		transform: translateY(2px);
	}
	90% {
		transform: translateY(0);
	}
}
