@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500&family=Noto+Serif+TC:wght@700&family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp');

// Required
@import "../../node_modules/bootstrap/scss/functions"; // 必要的方法
@import "variables"; // 自行定義的變數路徑
@import "../../node_modules/bootstrap/scss/mixins";

@import "../../node_modules/bootstrap/scss/bootstrap"; // Bootstrap 完整原始碼

body {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;
}

nav.fixed-top {
    background-color: rgba($black, 0.5);
    backdrop-filter: blur(20px);
}

@import "keyvision";
@import "slick";

$circle-diameter: 90px;
main {
    padding-top: 55px;
    padding-bottom: 55px;
    @include media-breakpoint-up(lg) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    section {
        padding-top: 75px;
        padding-bottom: 75px;
        @include media-breakpoint-up(lg) {
            padding-top: 100px;
            padding-bottom: 100px;
        }
        &.book-rank {
            .book-item {
                @include media-breakpoint-up(lg) {
                    width: 20%;
                }
            }
        }
        &.plan {
            .plan-item {
                @include media-breakpoint-up(lg) {
                    float: none !important;
                    width: calc((100% - ( 1.25rem * 3 ) - (30px * 4)) / 4 ) !important;
                }
                .h4 {
                    @include media-breakpoint-up(xl) {
                        margin-left: -$grid-gutter-width / 2;
                        margin-right: -$grid-gutter-width / 2;
                    }
                }
                img {
                    width: 220px;
                    @include media-breakpoint-up(lg) {
                        width: 100%;
                    }
                }
                .btn {
                    width: 220px;
                    color: $white;
                    background-color: rgba($white, 0.3);
                    @include media-breakpoint-up(lg) {
                        width: 100%;
                    }
                    &:hover {
                        background-color: rgba($white, 0.4);
                    }
                }
            }
        }
        .share-item {
            background-color: rgba($white, 0.1);
            @include media-breakpoint-up(lg) {
                &:nth-child(odd) {
                    background-color: rgba($white, 0.2);
                }
            }
            hr {
                display: block;
                width: 40px;
                height: 2px;
                margin: auto;
                background-color: $white;
                border: 0;
                opacity: 1;
            }
            .btn {
                max-width: 150px;
                width: 100%;
                color: $white;
                background-color: rgba($white, 0.3);
                &:disabled {
                    background-color: $gray-500;
                    cursor: not-allowed;
                }
                @include media-breakpoint-up(lg) {
                    width: 100%;
                }
                &:hover {
                    background-color: rgba($white, 0.4);
                }
            }
        }
        .host-item {
            position: relative;
            padding: 0 2.5px;
            &::before {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 66%;
                background: linear-gradient(0deg, $black 0%, rgba($black, 0) 100%);
                z-index: 1;
            }
            .txt {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 2;
            }
            hr {
                display: block;
                width: 40px;
                height: 2px;
                margin: 10px auto;
                background-color: $white;
                border: 0;
                opacity: 1;
            }
        }
    }
    .section-title {
        position: relative;
        height: $circle-diameter;
        overflow: hidden;
        .h2 {
            position: relative;
            z-index: 1;
        }
        .group {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 0;
            white-space: nowrap;
            transform: translate(-50%, -50%);
            z-index: -1;
        }
        .kv-circle {
            height: $circle-diameter;
            &::before {
                border-radius: $circle-diameter;
            }
        }
        .kv-grid {
            .line {
                height: $circle-diameter;
            }
        }
        .group-4 {
            margin-left: $circle-diameter;
            &.group-4-2 {
                margin-left: 0.5 * $circle-diameter;
            }
            &.group-4-3 {
                margin-left: 0.3 * $circle-diameter;
            }
            .kv-circle-1 {
                width: $circle-diameter;
                margin-right: -0.5 * $circle-diameter;
                z-index: 2;
                &::before {
                    background-color: #d80c18;
                    opacity: 0.25;
                }
            }
            .kv-circle-2 {
                width: 1.17 * $circle-diameter;
                margin-right: -0.5 * $circle-diameter;
                z-index: 1;
                &::before {
                    background-image: linear-gradient(to right, #8c4984 0%, #be2074 100%);
                }
            }
            .kv-grid {
                opacity: 0.7;
                .line-1 {
                    @include px2diameter(width, 4.8);
                    background-color: #9e407f;
                }
                .line-2 {
                    @include px2diameter(width, 4.5);
                    @include px2diameter(margin-left, 5.5);
                    background-color: #a63a7d;
                }
                .line-3 {
                    @include px2diameter(width, 4.2);
                    @include px2diameter(margin-left, 5.8);
                    background-color: #ab377c;
                }
                .line-4 {
                    @include px2diameter(width, 3.8);
                    @include px2diameter(margin-left, 6.1);
                    background-color: #b03179;
                }
                .line-5 {
                    @include px2diameter(width, 3.5);
                    @include px2diameter(margin-left, 6.5);
                    background-color: #b22e78;
                }
                .line-6 {
                    @include px2diameter(width, 3.2);
                    @include px2diameter(margin-left, 6.8);
                    background-color: #b62a77;
                }
                .line-7 {
                    @include px2diameter(width, 2.9);
                    @include px2diameter(margin-left, 7.1);
                    background-color: #b82776;
                }
                .line-8 {
                    @include px2diameter(width, 2.6);
                    @include px2diameter(margin-left, 7.4);
                    background-color: #ba2575;
                }
                .line-9 {
                    @include px2diameter(width, 2.2);
                    @include px2diameter(margin-left, 7.8);
                    background-color: #bb2475;
                }
                .line-10 {
                    @include px2diameter(width, 2);
                    @include px2diameter(margin-left, 8.1);
                    background-color: #bc2275;
                }
                .line-11 {
                    @include px2diameter(width, 1.6);
                    @include px2diameter(margin-left, 8.4);
                    background-color: #bd2074;
                }
                .line-12 {
                    @include px2diameter(width, 1.3);
                    @include px2diameter(margin-left, 8.8);
                    background-color: #bd2074;
                }
                .line-13 {
                    @include px2diameter(width, 1);
                    @include px2diameter(margin-left, 9);
                    background-color: #be2074;
                }
                .line-14 {
                    @include px2diameter(width, 0.6);
                    @include px2diameter(margin-left, 9.4);
                    background-color: #be2074;
                }
            }
        }
        .group-15 {
            &.group-15-1 {
                margin-left: -1 * $circle-diameter;
            }
            &.group-15-2 {
                margin-left: -0.275 * $circle-diameter;
            }
            .kv-grid {
                @include px2diameter(width, 162);
                margin-right: -0.5 * $circle-diameter;
                opacity: 0.7;
                transform: scaleX(-1);
                .line {
                    background-color: #c42d27;
                }
                .line-1 {
                    @include px2diameter(width, 7.5);
                }
                .line-2 {
                    @include px2diameter(width, 7.1);
                    @include px2diameter(margin-left, 2.6);
                }
                .line-3 {
                    @include px2diameter(width, 6.6);
                    @include px2diameter(margin-left, 3);
                }
                .line-4 {
                    @include px2diameter(width, 6.2);
                    @include px2diameter(margin-left, 3.4);
                }
                .line-5 {
                    @include px2diameter(width, 5.8);
                    @include px2diameter(margin-left, 3.8);
                }
                .line-6 {
                    @include px2diameter(width, 5.4);
                    @include px2diameter(margin-left, 4.3);
                }
                .line-7 {
                    @include px2diameter(width, 5);
                    @include px2diameter(margin-left, 4.7);
                }
                .line-8 {
                    @include px2diameter(width, 4.6);
                    @include px2diameter(margin-left, 5);
                }
                .line-9 {
                    @include px2diameter(width, 4.2);
                    @include px2diameter(margin-left, 5.5);
                }
                .line-10 {
                    @include px2diameter(width, 3.7);
                    @include px2diameter(margin-left, 6);
                }
                .line-11 {
                    @include px2diameter(width, 3.3);
                    @include px2diameter(margin-left, 6.4);
                }
                .line-12 {
                    @include px2diameter(width, 2.8);
                    @include px2diameter(margin-left, 6.8);
                }
                .line-13 {
                    @include px2diameter(width, 2.4);
                    @include px2diameter(margin-left, 7.2);
                }
                .line-14 {
                    @include px2diameter(width, 2);
                    @include px2diameter(margin-left, 7.6);
                }
                .line-15 {
                    @include px2diameter(width, 1.6);
                    @include px2diameter(margin-left, 8.1);
                }
                .line-16 {
                    @include px2diameter(width, 1.2);
                    @include px2diameter(margin-left, 8.5);
                }
                .line-17 {
                    @include px2diameter(width, 0.8);
                    @include px2diameter(margin-left, 8.9);
                }
            }
            .kv-circle::before {
                background-color: #c42d27;
            }
            .kv-circle-1 {
                width: 1.6 * $circle-diameter;
            }
            .kv-circle-2 {
                width: $circle-diameter;
                margin-left: -0.23 * $circle-diameter;
                &::before {
                    opacity: 0.25;
                }
            }
            .kv-circle-3 {
                width: $circle-diameter;
                margin-left: -0.5 * $circle-diameter;
                &::before {
                    opacity: 0.25;
                }
            }
        }
        .group-14 {
            &.group-14-1 {
                margin-left: -0.3 * $circle-diameter;
            }
            &.group-14-2 {
                margin-left: 0.4 * $circle-diameter;
            }
            .kv-circle-1 {
                width: 1.17 * $circle-diameter;
                margin-right: -0.5535 * $circle-diameter;
                z-index: 1;
                &::before {
                    background-image: linear-gradient(to right, #00986e 0%, #00954c 100%);
                }
            }
            .kv-grid {
                @include px2diameter(width, 257.1);
                margin-right: -0.5 * $circle-diameter;
                .line-1 {
                    @include px2diameter(width, 10);
                    background-color: #128e4a;
                }
                .line-2 {
                    @include px2diameter(width, 9.9);
                    @include px2diameter(margin-left, 1);
                    background-color: #128e4a;
                }
                .line-3 {
                    @include px2diameter(width, 9.4);
                    @include px2diameter(margin-left, 1.4);
                    background-color: #108e4f;
                }
                .line-4 {
                    @include px2diameter(width, 9);
                    @include px2diameter(margin-left, 1.7);
                    background-color: #128e55;
                }
                .line-5 {
                    @include px2diameter(width, 8.6);
                    @include px2diameter(margin-left, 2.1);
                    background-color: #148e59;
                }
                .line-6 {
                    @include px2diameter(width, 8.2);
                    @include px2diameter(margin-left, 2.6);
                    background-color: #178e5f;
                }
                .line-7 {
                    @include px2diameter(width, 7.8);
                    @include px2diameter(margin-left, 3);
                    background-color: #168e65;
                }
                .line-8 {
                    @include px2diameter(width, 7.4);
                    @include px2diameter(margin-left, 3.4);
                    background-color: #188e6b;
                }
                .line-9 {
                    @include px2diameter(width, 7);
                    @include px2diameter(margin-left, 3.8);
                    background-color: #1b8f70;
                }
                .line-10 {
                    @include px2diameter(width, 6.5);
                    @include px2diameter(margin-left, 4.3);
                    background-color: #1a8f76;
                }
                .line-11 {
                    @include px2diameter(width, 6);
                    @include px2diameter(margin-left, 4.7);
                    background-color: #1e8e7b;
                }
                .line-12 {
                    @include px2diameter(width, 5.6);
                    @include px2diameter(margin-left, 5.1);
                    background-color: #208e81;
                }
                .line-13 {
                    @include px2diameter(width, 5.2);
                    @include px2diameter(margin-left, 5.5);
                    background-color: #208e87;
                }
                .line-14 {
                    @include px2diameter(width, 4.8);
                    @include px2diameter(margin-left, 6);
                    background-color: #268e8d;
                }
                .line-15 {
                    @include px2diameter(width, 4.4);
                    @include px2diameter(margin-left, 6.4);
                    background-color: #2d8e92;
                }
                .line-16 {
                    @include px2diameter(width, 3.9);
                    @include px2diameter(margin-left, 6.8);
                    background-color: #308e98;
                }
                .line-17 {
                    @include px2diameter(width, 3.5);
                    @include px2diameter(margin-left, 7.2);
                    background-color: #368f9c;
                }
                .line-18 {
                    @include px2diameter(width, 3.1);
                    @include px2diameter(margin-left, 7.6);
                    background-color: #3c8da1;
                }
                .line-19 {
                    @include px2diameter(width, 2.7);
                    @include px2diameter(margin-left, 8.1);
                    background-color: #408da6;
                }
                .line-20 {
                    @include px2diameter(width, 2.2);
                    @include px2diameter(margin-left, 8.5);
                    background-color: #468daa;
                }
                .line-21 {
                    @include px2diameter(width, 1.8);
                    @include px2diameter(margin-left, 8.9);
                    background-color: #4b8daf;
                }
                .line-22 {
                    @include px2diameter(width, 1.4);
                    @include px2diameter(margin-left, 9.3);
                    background-color: #4e8cb3;
                }
                .line-23 {
                    @include px2diameter(width, 1);
                    @include px2diameter(margin-left, 9.8);
                    background-color: #5c93cc;
                }
                .line-24 {
                    @include px2diameter(width, 0.5);
                    @include px2diameter(margin-left, 10);
                    background-color: #5c93cc;
                }
            }
            .kv-circle-2 {
                width: $circle-diameter;
                &::before {
                    background-color: #5c93cc;
                    opacity: 0.25;
                }
            }
        }
    }
}

.bottombar {
    background-image: linear-gradient(to right, #2d5b94 0%, #ce1b7d 56%);
    z-index: 5;
    &:hover .btn-light {
        color: $white;
        background-color: rgba($black, 0.5);
    }
}
